<div>
  <ul>
    <% if @friends_requests.empty? %>
      <li class="invites"><h2>No new notifications</h2><li>
    <% else %>
      <%= render partial: "invite", collection: @friends_requests %>
    <% end %>
  </ul>
</div>
