<div class="post">
  <a href="<%= user_path(post.user.id) %>">
  <%= "#{post.user.first_name} #{post.user.last_name}" %></a>
  <div class="post-body">
  <small><%= post_date(post) %></small><br>
    <%= post.body %>
  </div>
</div>
