.is-button {
  padding: 10px 10px;
  border: none;
}

.is-button:hover {
  background-color: rgba(0,0,0, 0.4);
}

.invites {
  width: 60%;
  margin: auto;
  list-style: none;
  margin-top: 10px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.not-buttons {
  display: flex;
}
.not-buttons form {
  margin-right: 10px;
}
