.post-container {
  margin: 30px 0;
  width: 490px;
}
.post {
  margin-top: 20px;
  background: #fff;
  padding: 20px 15px;
  box-sizing: border-box;
}
.post a {
  color: #52a374;
}
.post-body {
  margin-top: 10px;
}

.post small {
  font-size: 0.7em;
  font-style: italic;
}

.friend-list {
  position: absolute;
  left: 20px;
}
.friend-list a {
  color: #52a374;
}

.friend-list h3 {
  margin: 10px 0;
}
.post-panel {
  background-color: #52a374;
  height: 30px;
  box-sizing: border-box;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-panel i {
  color: #fff;
}

.post-panel a {
  text-decoration: underline;
}

.post-panel .icon:hover {
  color: #5258A3;
}

.liked {
  color: #5A37C8 !important;
}

.comment {
  background-color: #fff;
  margin: 20px 0;
  width: 490px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.comment p {
  text-align: right;
  overflow-wrap: break-word;
}

.comment a {
  color: #52a374;
}
